@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">  
		  <meta name="google" content="notranslate">
		  <meta http-equiv="Content-Language" content="en" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>   
        <link href="~/Content/Scheduling.css" rel="stylesheet" />     
        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/js")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryunobtrusive")
        
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
	<link href="@Styles.Url("~/Content/css-responsive")" rel="stylesheet" type="text/css" />
        @RenderSection("head", required: false)
        @Html.Partial("_html5shiv")
        @* favicons and touch icons go here *@
        <script src="~/Scripts/jquery.signalR-1.0.0-rc2.js"></script>
      <script src="~/signalr/hubs"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    @Html.ActionLink("SMS Coordinator", "Index", "Home", null,  new { Class = "brand" })
                    <!--<a class="brand" href="/">SMS Coordinator</a> -->
                    <div class="nav-collapse">
                        <ul class="nav">
                            @Html.Navigation()
                        </ul>
                        @using(Html.BeginForm("Search", "Home", FormMethod.Post, new { Class = "navbar-search pull-right"}))
                        {
                            <input type="text" class="search-query span2" placeholder="Search" id="searchBox" name="id" />
                        }
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>        
        <div class="container" id="receivedMessages">@Html.Action("Count", "ReceivedMessage")</div>
        <div class="container">
            @Html.Partial("_alerts")
            @RenderBody()   
            <hr>
            <footer>
                <p><a href="http://tricklesms.com">&copy; Trickle SMS @DateTime.Now.ToString("yyyy")</a></p>
            </footer> 
        </div>
         @RenderSection("Scripts", required: false)

        @Styles.Render("~/Content/themes/base/jquery-ui.css")
        @Styles.Render("~/Content/timepicker.css")
    </body>
</html>

