@model ConfigurationModels.CountryCodeReplacement

<div class="display-label">
        @Html.DisplayNameFor(model => model.CountryCode)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.CountryCode)
</div>
<br/>

<div class="display-label">
        @Html.DisplayNameFor(model => model.LeadingNumberToReplace)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.LeadingNumberToReplace)
</div>
