@model SmsTrackingModels.SmsReceivedData

@*@{
    ViewBag.Title = "Respond";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}*@

<h2>Respond</h2>
<table class="table table-bordered table-striped table-hover">
    <tr><th>Number</th><td>@Model.SmsData.Mobile</td></tr>
    <tr><th>Message</th><td>@Model.SmsData.Message</td></tr>
    <tr><th>Date (UTC)</th><td>@Model.SmsConfirmationData.SentAtUtc.ToShortDateString()</td></tr>
</table>

@using (Ajax.BeginForm("Respond", "ReceivedMessage", null
    , new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "receivedMessages" }, new { id = "respondForm"}))
{
    <input type="hidden" id="incomingSmsId" name="incomingSmsId" value="@Model.SmsId"/>
    <textarea id="responseText" placeholder="Your response" name="message"></textarea>
    <input type="submit" value="reply"/>
}