@model List<SmsTrackingModels.SmsReceivedData>

@{
    if (Model.Count > 0)
    {
        <p>New messages received:</p>
        foreach (var message in Model)
        {
            <p>From @message.SmsData.Mobile, with message @message.SmsData.Message - 
                @Ajax.ActionLink("Respond", "Respond", "ReceivedMessage", new {incomingSmsId = message.SmsId}, new AjaxOptions {HttpMethod = "GET", UpdateTargetId = "receivedMessages", InsertionMode = InsertionMode.Replace}) 
                OR 
                @Ajax.ActionLink("Ignore", "Ignore", "ReceivedMessage", new {incomingSmsId = message.SmsId}, new AjaxOptions {HttpMethod = "GET", UpdateTargetId = "receivedMessages", InsertionMode = InsertionMode.Replace})</p>
        }
    }
}