@model List<SmsTrackingModels.SmsReceivedData>

@*@{
    ViewBag.Title = "SMS Received";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}*@

<h4>New messages received:</h4>
@foreach (var message in Model)
{
    <p>From @message.SmsData.Mobile, with message @message.SmsData.Message - 
        @Ajax.ActionLink("Respond", "Respond", "ReceivedMessage", new { incomingSmsId = message.SmsId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "receivedMessages", InsertionMode = InsertionMode.Replace}) 
        OR 
        @Ajax.ActionLink("Ignore", "Ignore", "ReceivedMessage", new { incomingSmsId = message.SmsId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "receivedMessages", InsertionMode = InsertionMode.Replace})</p>
}