@model int

@if (Model != 0)
{
    <p>New messages received! @Ajax.ActionLink("Open", "Index", "ReceivedMessage", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "receivedMessages"})</p>
}