﻿@model ConfigurationModels.TwilioConfiguration

@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery.1.8.3.min.js")


@using (Ajax.BeginForm("EditAjax", "TwilioConfig", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "TwilioConfigDiv" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Twilio</legend>

        <div>
            @Html.LabelFor(model => model.AuthToken, "Auth Token")
        </div>
        <div>
            @Html.PasswordFor(model => model.AuthToken)
            @Html.ValidationMessageFor(model => model.AuthToken)
        </div>

        <div>
            @Html.LabelFor(model => model.AccountSid, "Account Sid")
        </div>
        <div>
            @Html.EditorFor(model => model.AccountSid)
            @Html.ValidationMessageFor(model => model.AccountSid)
        </div>

        <div>
            @Html.LabelFor(model => model.From)
        </div>
        <div>
            @Html.EditorFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
        <p>
            @Ajax.ActionLink("Cancel", "DetailsAjax", "TwilioConfig", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "TwilioConfigDiv" })
        </p>
    </fieldset>
}
