﻿
@model ConfigurationModels.TwilioConfiguration

<fieldset>
    <legend>Twilio</legend>
    
    <div class="Details">
        <div>
            @Html.DisplayNameFor(model => model.AuthToken)
        </div>
        <div>
            **************************
        </div>
    </div>
    
    <div class="Details">
        <div>
            @Html.DisplayNameFor(model => model.AccountSid)
        </div>
        <div>
            @Html.DisplayFor(model => model.AccountSid)
        </div>
    </div>
    
    <div class="Details">
        <div>
            @Html.DisplayNameFor(model => model.From)
        </div>
        <div>
            @Html.DisplayFor(model => model.From)
        </div>
    </div>
</fieldset>
@Ajax.ActionLink("Edit", "EditAjax", "TwilioConfig", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "TwilioConfigDiv" })