<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <!--<UnicastBusConfig ForwardReceivedMessagesTo="smstracking">-->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <!--Sending messages-->
      <add Messages="SmsMessages.Scheduling.Commands.PauseScheduledMessageIndefinitely, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Commands.RescheduleScheduledMessageWithNewTime, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Commands.ResumeScheduledMessageWithOffset, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Commands.ScheduleSmsForSendingLater, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Email.Commands.CoordinatorCompleteEmailWithSummary, SmsMessages" Endpoint="emailsender" />
      <!-- Subscription -->
      <add Messages="SmsMessages.Scheduling.Events.ScheduledSmsSent, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Events.ScheduledSmsFailed, SmsMessages" Endpoint="smsscheduler" />
      <!-- Here to remove subscription -->
      <add Messages="SmsMessages.Scheduling.Events.MessageRescheduled, SmsMessages" Endpoint="smscoordinator" />
      <add Messages="SmsMessages.Scheduling.Events.MessageSchedulePaused, SmsMessages" Endpoint="smscoordinator" />
      <add Messages="SmsMessages.Scheduling.Events.SmsScheduled, SmsMessages" Endpoint="smscoordinator" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>