﻿@model ConfigurationModels.CommunicationTemplate

@{
    ViewBag.Title = "Communication Template - Create";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "EmailTemplate", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.TemplateName)
            @Html.EditorFor(model => model.TemplateName)
            @Html.ValidationMessageFor(model => model.TemplateName)
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.EmailContent)
            @Html.TextAreaFor(model => model.EmailContent)
            @Html.ValidationMessageFor(model => model.EmailContent)
        </div>


        <div class="control-group">
            @Html.LabelFor(model => model.SmsContent)
            @Html.TextAreaFor(model => model.SmsContent)
            @Html.ValidationMessageFor(model => model.SmsContent)
        </div>

<!-- List of fields -->
    </fieldset>


    <p>
        <input type="submit" value="Create" />
    </p>
}

