@model ConfigurationModels.CommunicationTemplate

@{
    ViewBag.Title = "Communication Template - Details";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Details</h2>
    <p>@Model.TemplateName</p>
    <p>@Model.TemplateContent</p>
    <ul>
    @foreach(var variable  = Model.TemplateVariable){
    	<li>@variable.TemplateName</li>
    }
    </ul>

