@model List<ConfigurationModels.CommunicationTemplate>

@{
    ViewBag.Title = "Communication Template - Details";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Index</h2>
<table>
	<thead>
		<tr>
			<th>Template Name</th>
			<th>Email Template</th>
			<th>Sms Template</th>
			<th>Variable Count</th>
		</tr>
	</thead>
	<tbody>
	@foreach(var template in Model){
		<tr>
			<td>@template.TemplateName</td>
			<!-- shorter version -->
			<td>@template.EmailContent</td>
			<td>@template.SmsContent</td>
			<td>@template.TemplateVariables.Count()</td>
		</tr>
	}
	</tbody>
</table>

