@model dynamic

@{
    ViewBag.Title = "Create Messages Now";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Create And Send Messages Now</h2>
<div>
    <p>Use these pages to send a message now. If you would like confirmation of the message being sent, please add your email address.</p>
    @Html.ActionLink("Create New Message", "Create")
    <!-- TODO: add a link to check the status of a message -->
</div>
