@model dynamic

@{
    ViewBag.Title = "Create Messages Now";
}

<h2>Create And Send Messages Now</h2>
<div>
    <p>Use these pages to send a message now. If you would like confirmation of the message being sent, please add your email address.</p>
    @Html.ActionLink("Create New Message", "Create")
</div>
