@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<fieldset>
    <legend>Country Code Configuration</legend>
    <div style="float: left; width: 50%" id="CountryCodeConfigDiv">
        @Html.Action("EditAjax", "CountryCodeConfig")
    </div>
</fieldset>