<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <!-- Subscription -->
      <add Messages="SmsMessages.MessageSending.Events.MessageFailedSending, SmsMessages" Endpoint="smsactioner" />
      <add Messages="SmsMessages.MessageSending.Events.MessageSent, SmsMessages" Endpoint="smsactioner" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <MsmqTransportConfig ErrorQueue="Error" NumberOfWorkerThreads="4" MaxRetries="5" />
</configuration>