@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Online</h3>
    </header>
    <p>
        <span class="label">Twitter:</span>
        <span><a href="http://twitter.com/sam_jeffress">@@sam_jeffress</a></span>
    </p>
    <p>
        <span class="label">GitHub:</span>
        <span><a href="http://github.com/samjeffress">GitHub</a></span>
    </p>
    <p>
        <span class="label">Blog:</span>
        <span><a href="http://unstructuredthinking.blogspot.com">Unstructured Thinking</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Fork the project</h3>
    </header>
    <p>
        <span class="label">GitHub:</span>
        <span><a href="http://github.com/samjeffress/smscoordinator">Sms Coordinator</a></span>
    </p>
</section>
