@model string

@{
    ViewBag.Title = "NoResults";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>No Results</h2>
<div>Sorry, we couldn't find any results for  '@Model' - please try again with another id.</div>
