@model SmsWeb.Models.DefaultEmailModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<fieldset>
    <legend>Default Email Recipients</legend>

    <div>
         @Html.DisplayNameFor(model => model.DefaultEmails)
        @Html.DisplayFor(model => model.DefaultEmails)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit")
</p>
