<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <!-- Subscriptions -->
      <add Messages="SmsMessages.Coordinator.Events.CoordinatorCompleted, SmsMessages" Endpoint="smscoordinator" />
      <add Messages="SmsMessages.Coordinator.Events.CoordinatorCreated, SmsMessages" Endpoint="smscoordinator" />
      <add Messages="SmsMessages.Scheduling.Events.MessageRescheduled, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Events.MessageSchedulePaused, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Events.ScheduledSmsFailed, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Events.ScheduledSmsSent, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.Scheduling.Events.SmsScheduled, SmsMessages" Endpoint="smsscheduler" />
      <add Messages="SmsMessages.MessageSending.Events.MessageFailedSending, SmsMessages" Endpoint="smsactioner" />
      <add Messages="SmsMessages.MessageSending.Events.MessageSent, SmsMessages" Endpoint="smsactioner" />
      <add Messages="SmsTrackingMessages.Messages.CoordinatorCompleteEmail, SmsTrackingMessages" Endpoint="emailsender" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>