@model string

<h2>Coordinated messages being setup.</h2>
<p>Thanks! We're busy setting up the schedules for your messages.
    Once it's been setup you can find the details in the 'coordinator' main page.</p>

<p>You can check the message status @Html.ActionLink("here", "Details", new { coordinatorId = Model })</p>