@model string
@{
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<h2>Coordinated messages being setup.</h2>
<p>Thanks! We're busy setting up the schedules for your messages.
    Once it's been setup you can find the details in the 'coordinator' main page.</p>
<p>If you setup the messages a while ago something might have gone
    wrong - you'll probably want to contact your administrator to see what has happened</p>
<p>You can check the message status @Html.ActionLink("here", "Details", new { coordinatorId = Model })</p>