@model List<SmsTrackingModels.CoordinatorTrackingData>

@{
    ViewBag.Title = "SMS Coordinator : Incomplete";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<!DOCTYPE html>

<h2>Incomplete Coordinated Message Senders</h2>
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Coordinator Id</th>
                <th>Status</th>
                <th>Message count</th>
                <th>Start Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var coordintor in Model)
            {
                <tr>
                    <td>@Html.ActionLink(coordintor.CoordinatorId.ToString(), "Details", "Coordinator", new { coordinatorid = coordintor.CoordinatorId.ToString()}, null)</td>
                    <td>@coordintor.CurrentStatus.ToString()</td>
                    <td>@coordintor.MessageCount</td>
                    <td>Don't have this yet</td>
                </tr>
            }
        </tbody>

    </table>              
</div>
