@model SmsTrackingModels.ScheduleTrackingData

@{
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}
<h2>Schedule details!</h2>
<p>Thanks! We've scheduled your message - you can see the details below.</p>
<ul>
    <li>@Model.MessageStatus</li>
    <li>@Model.SmsData.Message</li>
    <li>@Model.SmsData.Mobile</li>
    <li>@Model.ScheduleId</li>
</ul>