@model string


<h2>Schedule sent!</h2>
<p>Thanks! We've scheduled your message - you should get an email when it's sent. 
    Once it's been setup you can find the details in the 'schedule' main page.</p>

<p>You can check the message status @Html.ActionLink("here", "Details", new { scheduleId = Model })</p>